.links{
    color: white;
    cursor:pointer;
    transition:all .5s;
    position: relative;
}

.links::before{
    content: '';
    height: 3px;
    background: black;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    transition: all .5s;
}

.links:hover::before{
    width: 100%;
}

.links.active {
    color: blue;
}