#links{
    transition: all 1s;
    position: relative;
}

#links:hover{
    color: gray;
}

#links::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 3px;
    background: white;
    transition: all .5s;
}

#links:hover::before{

    width: 100%;
}

.btn-hover:hover{
    transform: translate(3px, -4px);
    transition: all 0.5s;
    box-shadow: -2px 2px 2px black;
}